<div class="header" id='header-regular'>
  <div fxLayout="row" class="toolbar-container">
    <span fxFlex="8"></span>
    <div fxFlex>
      <a [routerLink]="['/projects']" class="toolbar-header-logo">
        <img webpImg webpSrc='assets/index_name.webp' defaultSrc='assets/index_name.png' />
      </a>
    </div>
    <span fxFlex="8"></span>
  </div>

  <!--TODO: email is going to go to the [contact] page -->
  <!--<div fxLayout="row" class="toolbar-container" style="margin-top: -5px">
    <span fxFlex="8"></span>
    <div fxFlex>
      <address class="toolbar-text toolbar-email">
        <a href="mailto:chen.emily8339@gmail.com">chen.emily8339@gmail.com</a>
      </address>
    </div>
    <span fxFlex="8"></span>
  </div>-->
</div>

<mat-toolbar class="header" id='header-tool-bar'>
  <!-- <button (click)="toggleMenu()"><mat-icon>dehaze</mat-icon></button> -->
  <div class="hamburger hamburger--slider js-hamburger" (click)="toggleMenu()" id='hamburger' style="margin-top:15px">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
  </div>
</mat-toolbar>
