/* Styles for the entire header under regular view */
.ec-header {
  position: fixed;
  display: block;
  z-index: 100;
  width: 100%;
  background: #f9f9f9;
}

/* Styles for header's logo image */
.ec-header-logo {
  cursor: pointer;
  margin-top: 20px;
  float: right;
}

.ec-header-logo-mobile {
  float: none;
  position: absolute;
  left: calc(50% - 85px);
  height: 40px;
  margin-top: -35px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #header-tool-bar {
    display: block;
  }

  /* Hides the regular header under mobile view*/
  .ec-header {
    display: none;
  }
}
