.header {
    position: fixed;
    vertical-align: middle;
    z-index: 1;
    width: 100%;
    background: #F9F9F9;
}

.example-icon {
  padding: 0 14px;
}

.toolbar-container {
    width: 100%;
}

.toolbar-email {
    font-style: normal;
}

.toolbar-header-logo {
    cursor: pointer;
    margin-top: 20px;
    float: right;
}

.toolbar-header-logo-mb {
  cursor: pointer;
}

.toolbar-header-logo-mb > img {
  height: 40px;
  margin: 5px;
}

address a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

