<div class="ec-header">
  <div fxLayout="row">
    <span fxFlex="8"></span>
    <div fxFlex>
      <a [routerLink]="['/projects']" class="ec-header-logo">
        <img [src]='logoImgSrc()' />
      </a>
    </div>
    <span fxFlex="8"></span>
  </div>

</div>

<div fxLayout="column" style="height: 60px">
  <div class="hamburger hamburger--slider js-hamburger" (click)="toggleMenu()" id='hamburger' style="margin-top:15px; margin-left:15px; width:20px">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>

  <a [routerLink]="['/projects']">
    <img [src]='logoImgSrc()' class="ec-header-logo-mobile" />
  </a>
</div>