<a [routerLink]="'/projects/'+project.name">
  <div class="thumb" [@thumbTrigger]='state' (mouseover)="mouseOver()"
    (mouseleave)="mouseLeave()" style="outline: none;">
    <div (click)='onProjectImgClicked()' class="thumb-image">
        <img [src]='defaultIndexImage' [attr.aria-label]="project.englishName + ' | ' + project.chineseName"/>
    </div>

    <div class="thumb-title">
      <div class="project-chinese-name">{{project.chineseName}}</div>
      <div>{{project.englishName}}</div>
    </div>
  </div>
</a>