a {
    text-decoration: none;
}

.thumb {
    cursor: pointer;
    width: 240px;
}

.thumb-image {
    width: 240px;
    height: 240px;
}

.thumb-title {
    margin-top: 5px;
    color: #58554e;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .thumb {
        cursor: pointer;
        width: 120px;
    }

    .thumb-image {
        width: 120px;
        height: 120px;
    }
    
    .thumb-title {
        display: none;
    }
}

a:active {
    outline: none;
}

img {
    max-width:100%;
}

.project-chinese-name {
  letter-spacing: 1px;
}
