/*a {
    font-size:11px;
}*/
.navigation {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 20px;
    text-rendering: optimizeLegibility;
	position: fixed;
	top: 275px;
	right: -80px;
	z-index: 999;
    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@media only screen and (max-width: 420px) {
    .navigation {
        right: -120px;
        z-index: 999;
        /* Safari */
        -webkit-transform: rotate(90deg);

        /* Firefox */
        -moz-transform: rotate(90deg);

        /* IE */
        -ms-transform: rotate(90deg);

        /* Opera */
        -o-transform: rotate(90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}


.navigation div {
	display: inline-block;
	margin: 0 0 10px 10px;
	opacity: 0.4;
}

.navigation div:hover {
	opacity: 1;
}

.navigation div:active {
	opacity: 0.25;
}

.navigation div.set_link {
	opacity: 1;
}

.navigation div.set_link a {
	color: #000;
}

.navigation div.set_link a:active {
	opacity: 0.25;
}

.navigation .active {
	opacity: 1;
}

.navigation a {
	padding-bottom: 2px;
	text-decoration: none;
	color: #000;
    border-bottom: 0px solid #000;
    cursor: pointer;
}

.navigation a:hover,
.navigation a:active {
	border-bottom: 3px solid #000;
}

.filter-active {
  border-bottom: 3px solid #000 !important;
}

/*.navigation div.active a {
	border-bottom: 3px solid #000;
}*/

ul {
    list-style: none;
}

li {
    margin-top: 30px;
}
