<div fxLayout="row" class="ec-page-container">
  <div fxFlex fxLayout="column" style="margin-top: 15px">
    <div fxLayout="column">
      <div class="ec-page-content ">
        <b>陳 逸芸</b>
      </div>
      <div class="ec-page-content ">
        <b>Emily Chen</b>
      </div>
    </div>
    <div fxLayout="column" class="ec-sub-text" style="margin-top:15px; margin-bottom:55px">

      <div class="ec-page-content">
        Graphic designer based in Taiwan
      </div>

      <div class="ec-page-content">
        Focus on graphic design, brand identity design, art and cultural performance.
      </div>

      <div class="ec-page-content">
        -
      </div>

      <a class="ec-page-content" href='mailto:chen.emily8339@gmail.com'>chen.emily8339@gmail.com</a>

      <a class="ec-page-content" href='https://www.facebook.com/yiyun.chen2'>facebook</a>

    </div>
    <div fxLayout="column">
      <div class="ec-page-content">
        <img webpImage webpSrc='assets/emily.webp' defaultSrc='assets/emily.png' style="width: 175px;" />
      </div>
      <span fxFlex="8"></span>
    </div>
  </div>
</div>