<div fxLayout="row" class="projects-detail-container">
  <div fxFlex fxLayout="column" style="margin-top: 15px">
    <div fxLayout="column">
      <div class="project-detail-content project-detail-width"><b>陳 逸芸</b></div>
      <div class="project-detail-content project-detail-width"><b>Emily Chen</b></div>
    </div>
    <div fxLayout="column" class="project-detail-sub-text" style="margin-top:15px; margin-bottom:55px">

      <div class="project-detail-content project-detail-width">
        Graphic designer based in Taiwan
      </div>

      <div class="project-detail-content project-detail-width">
        Focus on graphic design, brand identity design, art and cultural performance.
      </div>

      <div class="project-detail-content project-detail-width">
        -
      </div>

      <a class="project-detail-content project-detail-width"
        href='mailto:chen.emily8339@gmail.com'>chen.emily8339@gmail.com</a>

       <a class="project-detail-content project-detail-width"
        href='https://www.facebook.com/yiyun.chen2'>facebook</a>

    </div>
    <div fxLayout="column">
      <div class="project-detail-content project-detail-width">
        <img webpImg webpSrc='assets/emily.webp' defaultSrc='assets/emily.png' style="width: 175px;"/>
      </div>
      <span fxFlex="8"></span>
    </div>
