<div fxLayout="row" [ngClass]="{'projects-detail-container': !media.isActive('xs'), 'projects-detail-container-mobile': media.isActive('xs')}">
  <div fxFlex fxLayout="column" style="margin-top: 15px">
    <div fxLayout="column">
      <div class="project-detail-content" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}"><b>陳 逸芸</b></div>
      <div class="project-detail-content project-detail-width" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}"><b>Emily Chen</b></div>
    </div>
    <div fxLayout="column" class="project-detail-sub-text" style="margin-top:15px; margin-bottom:55px">

      <div class="project-detail-content project-detail-width" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}">
        Graphic designer based in Taiwan
      </div>

      <div class="project-detail-content project-detail-width" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}">
        Focus on graphic design, brand identity design, art and cultural performance.
      </div>

      <div class="project-detail-content project-detail-width" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}">
        -
      </div>

      <a class="project-detail-content project-detail-width" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}"
        href='mailto:chen.emily8339@gmail.com'>chen.emily8339@gmail.com</a>

       <a class="project-detail-content project-detail-width" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}"
        href='https://www.facebook.com/yiyun.chen2'>facebook</a>

    </div>
    <div fxLayout="column">
      <div class="project-detail-content" [ngClass]="{'project-detail-width': !media.isActive('xs'), 'project-detail-mobile-width': media.isActive('xs')}">
        <img src="assets/emily.png"  style="width: 175px;"/>
      </div>
      <span fxFlex="8"></span>
    </div>
