.app-side-nav-container {
    background-color:#F9F9F9
}

.app-side-nav-container-mobile {
    background-color:#F9F9F9;
}

.share-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

.app-fixed {
    position: fixed;
    height: 100%;
}