/* Styles for the about section of the project page */
.ec-project-about {
	margin-top: 30px;
	white-space: pre-wrap;
	display: block;
}

.project-detail-light-text {
	color: gray;
}

img {
	width: 100%;
}

video {
	width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.ec-project-about {
		display: none;
	}
}

.blur-image {
	filter: blur(30px);
	/* this is needed so Safari keeps sharp edges */
	transform: scale(1);
}

.clear-image {
	filter: blur(0px);
	animation: fadein linear 0.5s;
}

@keyframes fadein {
	0% {
		filter: opacity(0%) blur(30px);
	}
	50% {
		filter: opacity(100%) blur(15px);
	}
	100% {
		filter: opacity(100%) blur(0px);
	}
}
