<div fxLayout="row" class="ec-page-container">
  <div fxFlex fxLayout="column" style="margin-top: 15px">
    <div fxLayout="column">
      <div class="ec-page-content project-detail-name">
        <b>{{project.chineseName}}</b>
      </div>
      <div class="ec-page-content project-detail-name">
        <b>{{project.englishName}}</b>
      </div>
      <div class="ec-page-content ec-sub-text ec-project-about project-detail-light-text">{{project.about}}</div>
    </div>
    <div fxLayout="column" class="ec-sub-text project-detail-light-text" style="margin-top:30px; margin-bottom:55px">

      <div class="ec-page-content " *ngFor="let description of project.descriptions">
        {{description}}
      </div>

      <a class="ec-page-content " target="_blank" *ngIf="project.link" [href]='project.link'>Official Website</a>

    </div>
    <div fxLayout="column">
      <iframe *ngIf='project.youtube' class="ec-page-content " style="height: 326px" [src]="project.youtube | safeResourceUrl"
        frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <div *ngFor="let projectImg of project.images; let i = index" class="ec-page-content">
        <img *ngIf="projectImg.contentType.startsWith('image')" class="blur-image" (click)='onDetailImgClicked(projectImg.title)'
          [attr.aria-label]="projectImg.title" [attr.test-data]='projectImg.contentType' [defaultImage]="compressedDetailImage(projectImg)"
          [lazyLoad]="detailImage(projectImg)" (click)="openImagePopUp(i)" [attr.id]="'project-detail-img-' + i" (onLoad)="onlazyImgLoad(i)"
        />
        <video *ngIf="projectImg.contentType.startsWith('video')" controls>
          <source [src]="projectImg.url" type="video/mp4">
        </video>
      </div>

      <div>
      </div>
      <span fxFlex="8"></span>
    </div>