<div fxLayout="row" class="projects-detail-container">
  <div fxFlex fxLayout="column" style="margin-top: 15px">
    <div fxLayout="column">
      <div class="project-detail-content project-detail-width"><b>{{project.chineseName}}</b></div>
      <div class="project-detail-content project-detail-width"><b>{{project.englishName}}</b></div>
      <div class="project-detail-content project-detail-width project-detail-sub-text project-detail-about project-detail-light-text">{{project.about}}</div>
    </div>
    <div fxLayout="column" class="project-detail-sub-text project-detail-light-text" style="margin-top:30px; margin-bottom:55px">

     <div class="project-detail-content project-detail-width"
        *ngFor="let description of project.descriptions">
        {{description}}
      </div>

      <a class="project-detail-content project-detail-width" target="_blank" *ngIf="project.link" [href]='project.link'>Official Website</a>

    </div>
    <div fxLayout="column">
        <iframe *ngIf='project.youtube' class="project-detail-content project-detail-width" style="height: 326px" [src]="project.youtube | safeResourceUrl" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <img *ngFor="let projectImg of project.images; let i = index"
          class="project-detail-content project-detail-width blur-image"
          (click)='onDetailImgClicked(projectImg.title)'
          [attr.aria-label]="projectImg.title"
          [defaultImage]="compressedDetailImage(projectImg)" [lazyLoad]="detailImage(projectImg)" (click)="openImagePopUp(i)" 
          [attr.id]="'project-detail-img-' + i" (onLoad)="onlazyImgLoad(i)"/>
    <div>

  </div>
  <span fxFlex="8"></span>
</div>
