
body {
	background-color: #F9F9F9;
	margin: 0;
  height: 100%;
	font-family: 'Vollkorn', serif;
}

a {
  color: black;
}

b {
    font-size: 16px;
}


.projects-detail-container {
  padding-top: 125px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.project-detail-width {
  width: 580px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .projects-detail-container {
      padding-top: 50px;
      padding-bottom: 10px;
      margin: 0 auto;
  }

  .project-detail-width {
      width: 250px;
  }
}

.project-detail-content {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: auto;
  margin-right: auto;
}

.project-detail-sub-text {
  font-size: 12px;
}

mat-sidenav {
  width: 100% !important;
}

/*  this fixes the mobile scrolling issue */
.mat-drawer-content {
  overflow: unset !important;
}